body
{
margin : 4%;
text-align: center;
background-image: url('/PDO and prepared statements/back.jpg');
}
#back
{
	background-color: white;
	opacity: 0.9;
	margin-left: 20%;
	margin-right: 20%;
}
#image
{
	width: 70%;
}
#image2
{
	width: 40%;
}