body
{
margin: 2%;
background-color: #f7f7f7;
}
#Input1
{
	width: 20%;
}
#datashow
{
	float: right;
	margin-right: 5%;
	background-color: white;
	width: 50%;
	text-align: center;
}
#anglia
{
	width: 15%;
}
#add
{
	padding: : 50%;
	background-color: #9d78f8;
	margin-right: 80%;
    border: 20px solid #9d78f8;
    width: 25%;
    color: white;
font-weight: bold;
}